.sidebarContainer{
    min-width:8rem;
    max-width:100%;
    height: 100%;
    /* background-color: aqua; */
    box-sizing: border-box;
    float: left;
    overflow-y: scroll;
    overflow-x: hidden;
  }

@media (min-width:320px){
    .sidebarContainer{
        width: 15rem;
        /* background-color: blue; */
    }
}