.sidebarContainer{
    min-width:"20%";
    max-width:'100%';
    height: '100%';
    box-sizing: 'border-box';
    float: 'left';
    overflow-y: 'scroll';
    overflow-x: 'hidden';
  }

@media (max-width:320px){
    .sidebarContainer{
        min-width: "10%";
    }
}